// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font-branding: 'Alfa Slab One', cursive;
$font-headline: 'Open Sans', sans-serif;
$font-sans: 'Open Sans', sans-serif;

// Colors
//------------------------------------------------------------------------------


.logo {
  filter: invert(100%);
}
